$dark-blue: #2c7da0;
$green: #6a994e;
$green-300: #bee6a8;
$green-600: #355b20;
$red: #ff0a54;
$red-300: #ff8066;
$blue: #00a6fb;
$gray: #6c757d;
$white: #fff;
$light-gray: #d9d9d9;
$black: #000;
$purple: rgb(189, 22, 189);
$purple-300: rgb(250, 109, 250);
$purple-600: rgb(79, 10, 79);
$yellow: rgb(241, 169, 66);
$orange: rgb(236, 143, 12);

$colors: blue, orange, green, purple, gray, red, yellow;
$sizes: small, medium, large;
